@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;600;700;900&display=swap');

@theme {
  --font-sans: "Cairo", sans-serif;
  --animate-fade-in: fade-in 0.8s ease-out forwards;
  --animate-slide-up: slide-up 1s ease-out forwards;
  
  @keyframes fade-in {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @keyframes slide-up {
    0% { opacity: 0; transform: translateY(20px); }
    100% { opacity: 1; transform: translateY(0); }
  }
}

@variant dark (&:where(.dark, .dark *));

html {
    font-family: "Cairo", sans-serif;
}